*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  background-color: #f1f1f1;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-container {
  max-width: 500px;
  width: 100%;
  margin: auto auto;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding-bottom: 1em;
  background-color: #f1f1f1;
  color: #545862;
}

li,
.todo-list-title {
  padding: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  background-color: white;
}

li:nth-of-type(2) {
  padding: 1em 1em;
}

.todo-list-title {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.todo-list-title i {
  color: rgba(0, 0, 0, 0.3);
}

.todo-list-title i:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.add-task-container {
  padding: 0 1em;
}

.add-task-form {
  width: 100%;
}

.add-task-form input,
.add-task-form input:hover,
.add-task-form input:focus {
  border: 0;
  outline: 0;
  color: #545862;
}

.add-task-form .new-task {
  flex-grow: 1;
  padding: 1em 0;
}

.add-task-form .new-task::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.add-task-form .input-return {
  background-image: url(https://web.archive.org/web/20180728085226im_/http://www.getminimalist.com/assets/enter-b06ec7fb441bc0e40d61ba975a0291ad.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: 10px;
  width: 20px;
  height: 20px;
}

.add-task-form .input-return:hover {
  cursor: pointer;
}

.task {
  padding: 0 1em !important;
  position: relative;
  gap: 0.5rem;
  flex-grow: 1;
}

.task input[type='checkbox'] {
  margin: 1em 0;
  width: 15px;
  height: 15px;
  border: 2px solid #c1c1c3;
  border-radius: 3px;
  position: relative;
  appearance: none;
}

.task input[type='checkbox']:hover {
  cursor: pointer;
}

.task input[type='checkbox']:focus,
.task input[type='checkbox']:active {
  outline: none;
  border-color: #8b8b8b;
}

.task input[type='checkbox']:checked {
  border: 0;
}

.task input[type='checkbox']:checked::after {
  font-family: 'Font Awesome 6 Free', sans-serif;
  font-weight: 600;
  content: '\f00c';
  font-size: 15px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: rgba(46, 138, 230, 0.7);
}

.task .edit-task {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #545862;
  flex-grow: 1;
  align-self: stretch;
}

.task .edit-task:hover,
.task .edit-task:focus {
  outline: none;
}

.task input[type='checkbox']:checked + label + .edit-task {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.3);
}

.task .task-icon {
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 1em;
  width: 25px;
  height: 25px;
  background-color: inherit;
}

.task .task-icon:hover {
  color: rgba(0, 0, 0, 0.6);
}

.task .task-icon:last-of-type {
  z-index: 1;
}

.task .task-icon:last-of-type:hover {
  cursor: pointer;
}

.task:first-of-type {
  z-index: 2;
}

.task:first-of-type:hover {
  cursor: move;
}

.clear-completed {
  display: block;
  margin: 1rem auto 0;
  border: 0;
  color: rgba(0, 0, 0, 0.3);
}

.clear-completed:hover {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
  font-weight: normal;
}
